html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #FFF;
    background: #FFF;
    -webkit-font-rendering: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header {
    -webkit-align-items: center;
    align-items: center;
    padding: 1em;
    position: absolute;
    top: 0;
    z-index: 2;
}

nav {
    font-size: 0.750em;
    text-transform: uppercase;
    padding-left: 0.5em;
}

nav a {
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all 0.2s;
}

nav a:hover {
    border: 1px solid;
    transition: all 0.2s;
}

nav a:last-child {
    font-weight: 900;
}

.hero {
    align-items: center;
    justify-content: space-between;
    background: #189dad;
}

.tagline {
    padding: 1em 0 1em 1em;
    width: 40%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tagline h1 {
    line-height: 1.3;
    font-weight: 900;
    font-size: 3em;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.25em;
}

.tagline h2 {
    margin-bottom: 1em;
}

.btn, .hollow {
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em 1em;
    font-size: 0.875em;
    text-decoration: none;
    background: #ffd100;
    color: #354a4d;
    border: 2px solid transparent;
    transition: all 0.2s;
}

.btn:hover {
    background: #ffde00;
}

.hollow {
    background: transparent;
    border: 2px solid #fff;
    color: #FFF;
    font-weight: 400;
    margin-left: 1em;
}

.hollow:hover {
    background: #FFF;
    color: #354a4d;
    transition: all 0.2s;
}

.bridget {
    background: url('../img/bridget-casey.jpg') center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 60%;
    position: relative;
    z-index: 1;
}

.grd {
    background: linear-gradient(to left, rgba(30, 157, 173, 0) 0%, #189dad 100%);
    width: 25%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.content {
    padding: 1em;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    color: rgba(16, 16, 16, 0.88);
    padding: 3em;
}

.card h1 {
    color: #189dad;
    font-weight: 700;
    font-size: 1.250em;
    padding-bottom: 0.5em;
}

@media screen and (max-width: 66.750em) {
    .tagline h1 {
        font-size: 2.5em;
    }
    .tagline h2 {
        font-size: 0.875em;
    }
    .grd {
        width: 50%;
    }
}

@media screen and (max-width: 48em) {
    .tagline h1 {
        font-size: 2em;
    }
    .grd {
        width: 50%;
    }
}

@media screen and (max-width: 40em) {
    header {
        width: 100%;
        position: relative;
        background: #189dad;
    }
    .hero {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .tagline {
        width: 100%;
        padding: 0 1em 1em 1em;
        position: relative;
        z-index: 1;
    }
    .tagline h1 {
        font-size: 2.375em;
    }
    .bridget {
        width: 100%;
        position: absolute;
        top: 180px;
        z-index: 0;
    }
    .grd {
        height: 250px;
        width: 100%;
        background: linear-gradient(to top, rgba(30, 157, 173, 0) 0%, #189dad 100%);
    }
    .card {
        padding: 1em;
        font-size: 0.875em;
    }
    .content {
        padding: 0.75em;
    }
}

@media screen and (max-width: 37.5em) {
    nav {
        display: none;
    }
    .hero, header {
        background: linear-gradient(to right, rgb(2, 163, 181) 0%, #07acc1 15%, #2db9ce 50%, #0fb3c5 80%, #07adc1 90%, #14aac3 100%)
    }
    .tagline h1 {
        font-size: 2em;
    }
    .tagline h2, .btn {
        font-size: 0.750em;
    }
    .bridget {
        background-size: 100%;
        top: 100px;
    }
    .grd {
        display: none;
    }
    .content {
        position: relative;
        top: 258px;
    }
}

@media screen and (max-width: 22em) {}
